@import '../../scss/variables';
@import '../../scss/container';
@import '../../scss/media';
@import '../../scss/reset';

.tableContainer {
  width: 100%;
  border: solid 1px $dark-grey;
  @include _479 {
    padding: 10px;
  }
}

.table {
  border-collapse: collapse;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  table-layout: fixed;
  @include _479 {
    font-size: 14px;
  }
}

.th {
  padding: 10px;
  color: $light-grey;
  font-weight: 400;
  &:hover {
    .toggle {
      opacity: 1;
    }
    .iconUp {
      path {
        fill: #ff9332;
      }
    }
  }

  @include _479 {
    padding: 10px 5px;
  }
  &:nth-child(1) {
    width: 5%;
    text-align: center;
    font-weight: 400;
  }
  &:nth-child(2) {
    width: 25%;
    text-align: left;
  }
  &:nth-child(3) {
    width: 15%;
    text-align: right;
  }
  &:nth-child(4) {
    width: 20%;
    text-align: right;
    @include _479 {
      width: 15%;
    }
  }
  &:nth-child(5) {
    width: 20%;
    text-align: center;
    @include _767 {
      display: none;
    }
  }
  &:nth-child(6) {
    width: 15%;
    text-align: right;
    @include _767 {
      display: none;
    }
  }
}

.thWrap {
  position: relative;
  display: inline-block;
}

.toggle {
  position: absolute;
  left: -22px;
  top: 0;
  cursor: pointer;
  opacity: 0;
  @include mt(0.5s);
  @include _479 {
    left: -20px;
    top: -3px;
  }
}

.icon {
  font-size: 14px;
  height: 5px;
}

.iconUp,
.iconDown {
  path {
    fill: #4d4d4d;
  }
}

.iconUp {
  &:hover {
    path {
      fill: #6ccf59 !important;
    }
  }
}

.iconDown {
  &:hover {
    path {
      fill: #ff9332;
    }
  }
}

.visible {
  opacity: 1;
}

.iconActive {
  path {
    fill: #ff9332;
  }
}
